<h1>New Topic</h1>

<p><%= link_to 'Back to Topics', topics_path %></p>

<% form_for @topic do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  
  <div>
    <%= content_tag :button, 'Create', :type => 'submit' %>
  </div>
<% end %>