<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>bagpipes :: a resourceful forum</title>

  <%= stylesheet_link_tag 'bagpipes' %>
  <%= javascript_include_tag :defaults %>
</head>

<body>
  <div id="header">
    <%= link_to 'Bagpipes', topics_path %>
  </div>

  <div id="main">
    <%= flash_divs %>

    <div id="content">
      <%= yield %>
    </div>
  </div>

  <div id="footer">
    &nbsp;
  </div>
</body>
</html>