<h1>New Message in <%= h @topic.title %></h1>

<p><%= link_to 'Back to Messages', topic_messages_path(@topic) %></p>

<% form_for @message, :url => topic_messages_path(@topic) do |f| %>
  <%= f.hidden_field :parent_id %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <div>
    <%= content_tag :button, 'Create', :type => 'submit' %>
  </div>
<% end %>